a img{
    
    height: 49px;
    padding-top: 0;
	margin-top: -18px;
	margin-left:388px;
	position: relative;
	
}


.btn-full
{

	border: 1px solid #e67e22;
	padding: 10px 30px;
	color: #e67e22;
	text-decoration: none;
	border-radius: 12px;
	margin: auto;
	position: relative;
	margin-left: 104px;

}



.btn-full:hover
{
	background-color: #e67e22;
	color:white;
	transition: all 0.5s ease-in;
}

.copy{

	width:70%;
	margin-left: 15%;
	text-align: center;
}


.feactures h3:after
{

	width: 100px;
	height: 2px;
	background-color:#e67e22;
	display: block;
	content: " ";
	margin:0 auto;
	margin-top: 30px;

}

.feactures h3 {

	margin-top: 80px;
	margin-top: 30px;
	display: block;
	color: black;

}

.feactures{

	display: block;
}


.arranging
{
	text-align: justify;
	border: #e67e22;
	display: block;

}


h5{

	font-weight: bold;
	display: block;
}


.traductor {

	height: 632px;
	width: 432px;
	border-radius: 18px;
	border-top: 22px; 
	opacity: 0.7;
    filter: alpha(opacity=70);
    padding-left: 0;
    margin-top: 
}


#translateform{

	margin-left: 148px;
}


#h {

	display: block;
}

.arranging{
	display: block;
}

#search{
	margin-left: 82px;
	border: 1px solid;
	padding: 10px 30px;
	color: none;
	border-radius: 12px;
	background-color: green;


}

#input{

	height: 200px;
	border-radius: 12px;
	width: 70%;
	margin: auto;
}

#hache1{
		
	margin-top: -22px;
	margin-left: 77px;

}

select {

	margin-left: -82px;

	
}

label{

	margin-left: -82px;
	

}


.respuesta {

	height: 632px;
	width: 432px;
	border-radius: 18px;
	border-top: 22px; 
	opacity: 0.7;
    filter: alpha(opacity=70);
    display: block;
}



#mostrar {


	margin-top: 190px;
	
}



#idioma1{

	border-radius: 10px;
	width: 127%;
	margin-right: 212px;
}

#idioma2{

	border-radius: 10px;
	width: 127%;
}


textarea{

	resize: none;
	width: 122%;
}

#searchTerm{
	width: 80%;
}


*
{

	margin:0;
	padding: 0;
}

.row {

	max-width: 1140px;
	margin: 0 auto;

}

.magic .oculto .feactures
{
	font-family:tahoma;
}


.hero
{

	position: relative;
	margin-top: 244px;
	display: block;
}

.oculto
{

	display: none;
	margin-right: 44%;
	margin-bottom: -552px; 
	width: 100%;
	margin-top: 22px;
}

.magic
{
	margin-top: -29px;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/translator.jpg);
	height: 100vh;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}



h1
{

	color: white;
	margin-top: 333px;
	

}


.navbar-nav{
	list-style-type: none;
	margin: 0;
    padding: 0;

} 



.cities{

		margin-top: 50px;
		width: 100%;
		overflow:hidden;
}


.cities i {
	color:#e67e22;
}

.cities img {

	width: 310px;
	height: 220px;
	margin-top: 49px;
	
}



#location
{
	margin-top: -22px;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/pag2.jpg);
	height: 92vh;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}


a img {
	 height: 49px;
    padding-top: 0;
	margin-top: -18px;
	margin-left:388px;
	position: relative;
}


h4{

	color: white;

	
}


.la {

	margin-right: 133px;
	border-radius: 100%;
}

.la2 {

	margin-right: 133px;
	
}



#hcustomers {

	color: white;
	margin-top: 22px;
	font-weight: bold;
	font-family: Roboto-Regular;
}

#hcustomers2 {

	color: white;
	margin-top:32px;
	font-weight: bold;
	font-family: Roboto-Regular;
}


.plocation {
	color: white;
	font-family: Robot-Regular;
}



.customers {

	margin-top: 79px;
	color: white;
}

.customers cite img {

	width: 50px;
	height: 50px;
	border-radius: 50%;
}


.customers p {

	line-height: 22px;
	font-weight: bold;
	font-family: Roboto-Regular;

}


#join
{
	margin-top: -22px;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/pag3.jpg);
	height: 92.3vh;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}

.container h3
{
	margin-top: 33px;
}



.h4join{

	color: white;

	
}


h3 {

	color: white;
	margin-top: -32px;
	font-weight: bold;
	font-family: Roboto-Regular;
}


#pjoin {
	color: white;
	
}



.customers {

	margin-top: 79px;
	color: white;
}



.customers p {

	line-height: 22px;
	font-weight: bold;
	font-family: Roboto-Regular;

}


.btn-block {

	
}


#textarea{


	width: 494px;
	resize: none;	
}

#btn {

	width: 494px;
	background-color: #e67e22;
	color: #FFF;
	border-radius: 4px;
	margin-top: 22px;
	margin-left: -74px;
}


.team {

	text-align: center;
	padding: 20px 0 80px;

}

.team b {

	color: white;
}


.team h2 {

}


.team h4 {

	margin: 20px 0 20px;
	color: white;
}

.team p {

	color: white;
}


.team img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
    margin-left: 55px;
}


.team i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}


.form {

	margin-top: -32px;

}

input{

	margin-left: -74px;
}

#textarea{

	margin-left: -74px;
}