.cities{

		margin-top: 50px;
		width: 100%;
		overflow:hidden;
}


.cities i {
	color:#e67e22;
}

.cities img {

	width: 310px;
	height: 220px;
	margin-top: 49px;
	
}



#location
{
	margin-top: -79px;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/pag2.jpg);
	height: 100vh;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}


a img {
	 height: 49px;
    padding-top: 0;
	margin-top: -18px;
	margin-left:388px;
	position: relative;
}


h4{

	color: white;

	
}


.la {

	margin-right: 133px;
}




#hcustomers {

	color: white;
	margin-top: 32px;
	font-weight: bold;
	font-family: Roboto-Regular;
}

#hcustomers2 {

	color: white;
	margin-top:82px;
	font-weight: bold;
	font-family: Roboto-Regular;
}


.plocation {
	color: white;
	font-family: Robot-Regular;
}



.customers {

	margin-top: 79px;
	color: white;
}

.customers cite img {

	width: 50px;
	height: 50px;
	border-radius: 50%;
}


.customers p {

	line-height: 22px;
	font-weight: bold;
	font-family: Roboto-Regular;

}


