

.jumbotron{
	
	position: relative;
	width: 720px;
	border-radius: 12px;
	border: 1px,#ccc,solid;
	margin-top: 22px;
	
}







#input {

	width: 33%;
}

#idioma1{

	width: 33%;
	background:none;
	
}

#idioma2{

	width: 33%;
	background: none;
}