a img{
    
    height: 49px;
    padding-top: 0;
	margin-top: -18px;
	margin-left:388px;
	position: relative;
	
}


.btn-full
{

	border: 1px solid #e67e22;
	padding: 10px 30px;
	color: #e67e22;
	text-decoration: none;
	border-radius: 12px;
	margin: auto;
	position: relative;
	margin-left: 104px;

}



.btn-full:hover
{
	background-color: #e67e22;
	color:white;
	transition: all 0.5s ease-in;
}

.copy{

	width:70%;
	margin-left: 15%;
	text-align: center;
}


h3:after
{

	width: 100px;
	height: 2px;
	background-color:#e67e22;
	display: block;
	content: " ";
	margin:0 auto;
	margin-top: 30px;

}

.feactures h3 {

	margin-top: 80px;
	margin-top: 30px;
	display: block;
}




.arranging
{
	text-align: justify;
	border: #e67e22;
	display: block;

}


h5{

	font-weight: bold;
	display: block;
}


.traductor {

	height: 632px;
	width: 432px;
	border-radius: 18px;
	border-top: 22px; 
	opacity: 0.7;
    filter: alpha(opacity=70);
    padding-left: 0;
}


#translateform{

	margin-left: 148px;
}


#h {

	display: block;
}

p{
	display: block;
}

#search{
	margin-left: 82px;
	border: 1px solid;
	padding: 10px 30px;
	color: none;
	border-radius: 12px;
	background-color: green;


}

#input{

	height: 200px;
	border-radius: 12px;
	width: 70%;
	margin: auto;
}

#hache1{
		
	margin-top: -22px;
	margin-left: 77px;

}

select {

	margin-left: -82px;

	
}

label{

	margin-left: -82px;
	

}


.respuesta {

	height: 632px;
	width: 432px;
	border-radius: 18px;
	border-top: 22px; 
	opacity: 0.7;
    filter: alpha(opacity=70);
    display: block;
}



#mostrar {


	margin-top: 190px;
	
}



#idioma1{

	border-radius: 10px;
	width: 127%;
	margin-right: 212px;
}

#idioma2{

	border-radius: 10px;
	width: 127%;
}


textarea{

	resize: none;
	width: 122%;
}

#searchTerm{
	width: 80%;
}


*
{

	margin:0;
	padding: 0;
}

.row {

	max-width: 1140px;
	margin: 0 auto;

}

body
{
	font-family:tahoma;
}


.hero
{

	position: relative;
	margin-top: 244px;
	display: block;
}

.oculto
{

	display: none;
	margin-right: 44%;
	margin-bottom: -552px; 
	width: 100%;
	margin-top: 88px;
}

header
{

	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/translator.jpg);
	height: 100vh;
	width:100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}



h1
{

	color: white;
	

}


.navbar-nav{
	list-style-type: none;
	margin: 0;
    padding: 0;

} 






